/*Base format*/
body {
    font-family:$base-font-family;
    font-size: $base-font-size;
    line-height: 1.7em;
    background-image: url("../images/eheader9.jpg")no-repeat !important;
    background-size: cover;
    background-attachment: fixed;
    padding-top: -20px !important;
    padding: 0 !important;
    margin-top: -20px !important;
    color: $base-font-color;
}
a{
    color: #00aff0;
}
ul, li {
    list-style: none;
}
input, button, textarea {
    @include border-radius(0px);
}
h1,h2,h3{
    color:#9365B8;
}
h4,h5,h6{
    color:grey;
}