/*Base format*/
body {
    font-family:$base-font-family;
    font-size: $base-font-size;
    line-height: 1.7em;
    padding-top: -20px !important;
    padding: 0 !important;
    margin-top: -20px !important;
    color: $base-font-color;
}
a{
    color: $link-color;
}
ul, li {
    list-style: none;
}
input, button, textarea {
    @include border-radius(0px);
}
h1,h2,h3{
    color:$main-headers-color;
}
h4,h5,h6{
    color:grey;
}