/*about page Buttons*/
.about{
   .btn{
      font-family: 'Droid Sans', sans-serif; 
      font-size: 18px; 
      text-align:right;
      padding:7px 15%;
      font-weight:bold;
      border-radius:0;
      border:none;
      margin:auto;
      margin-top:30px;
      color:silver;
      background-color: transparent;
      @include add-border(3px, #6FC7CE, all);
      @include border-radius(30px);   
    }
}
/*review page navigation buttons*/
.review{
    .btn-right{
    background-color: transparent; 
    border:none;
    z-index:999;
    padding:20px;
    position:relative;
    top:150px;
    left:90%;
  }
  .btn-left{
    background-color: transparent; 
    border:none;
    z-index:999;
    padding:20px;
    position: relative;
    top:150px;
    right:5%;
    .btn-left:active{
      border:0;
      }
   }
}
/*contact form button*/
.contact{
  .btn{
      font-family: 'Droid Sans', sans-serif; 
      padding:5px;
      margin-top: 30px;
      color: silver;
      font-size:20px;
      font-weight: bold;
      background-color: transparent;
      @include add-border(3px, #6FC7CE, all);
      @include border-radius(30px);  
      }
      .btn:active{
        background-color: #252525 !important;
        color:grey;
      }
      .btn:hover {
        color:#666;
      }
  }

