/*Forms*/
.contact{
  input[type='text'],input[type='email'],input[type='email']{
    height: 35px;
    font-size: 16px;
    background-color:#ecf0f1;
    @include border-radius(0px);
  }
  textarea{
    width:100%;
    font-size: 16px;
    padding-top: 5px;
    background-color: #ecf0f1;
    @include border-radius(0px);
  }
}
/*Form-footer*/
.footer{
   .btn{
    font-family: 'Droid Sans', sans-serif; 
    background-color: transparent;
    @include add-border(3px, #6FC7CE, all);
    @include border-radius(30px);  
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color:silver;
    &:hover{
      color:grey;
    }
  }
  .form-control{
    // @include add-border(2px,grey, all);
    background-color: #ecf0f1;
    color:grey;
    border-radius: 0;
  }
}