/*Navigation bar */
.navbar {
    background-color:$navigation-background-color !important;
    margin-top:20px;
    margin-bottom:0;
    border:none;
    border-radius:0;
    font-family: $navbar-font-family;
    font-weight: 300; 
     ul {
          text-align: right !important;
           font-size: $navbar-font-size !important;
    }
    ul li{
      box-sizing: border-box !important;
    }
     ul a {
       color:$navbar-font-color !important;
       border:0 !important;
       padding: 20px;
       text-transform: uppercase; 
      text-align: right !important;
     }
     ul a:hover{
       color: silver !important;
       
     }  
     
}
.navbar-brand {
    font-size: 3em !important;
    background-color:transparent;
   // margin-top:10px;
    padding:15px 10px 5px 10px;
    color:$secondary-color;
    
    img{
      width:100%;
      height:100%;
    }
 }