@media only screen and (min-width: 768px) {
    .navbar {
    background-color:transparent;
    }
    .header{
         display: block;
          min-height: auto;
          background-image: url($header-image);
          background-size: cover;
          background-attachment: fixed;
          height:auto;
          padding:0;
          padding-bottom: 150px;
          margin:0;
          color: $base-font-color;
        .main-title{
           text-align: center;
           font-size: 2em;
           margin:auto;
         }

        .header-cont{
        //    @include border-radius(0 80px);
         //   @include add-border(5px, green, all);
        //    background-color: #252525;
        //    opacity: 0.3;
            line-height: 1.5em;
            font-size: 2em;
            font-weight: bold;
            width:80% !important;
            padding:20px;
            margin-top:20%;
            margin-left: 15%;
          }
          .fa-quote-left, .fa-quote-right{
            font-size: 1.5em;
            color: brown;
          }
          p{
            text-align: right;
            margin-right: 60px;
          }
    }
    .about{
        margin-top: 0 !important;
         .content{
            width: 30%;
         }
    }
    .services .block{
        width:45%;
     }
}