/*Sections*/
.header{
  display: none;
}
/* end Header*/
/*startabout */
.about {
  text-align: center;  
  
  height:auto;
  width:100%;
  margin:auto;
  padding-top:40px;
  background-color:$background-color-about;
  border-box: box-sizing;
  padding-bottom: 10px;
    p{
      font-family: 'Lato', sans-serif;
     color:silver;
     line-height: 1.3em;
     }
     h1{
     font-family: $main-headers-font-family; 
     font-weight: bold;   
     }
    .content{
      font-family: veranda;//'Montserrat', sans-serif;
      width: 100%;
      color: #252525;
      margin:10px;
      padding: 10px 30px;
    }
}
/* end about */
/* START SERVICES */
.services{
  margin-top: 0;
  padding-top: 0;
  background-color: $background-color-services !important;
  color: $base-font-color;
  padding-top: 50px;
  .content{
    background-color: transparent !important;
    
  }
  .service-title  span{
    @include add-border(1px, grey, bottom);
    padding-bottom:15px;
  }
   h1{
      font-family: $main-headers-font-family;
      font-weight: bold;
      font-size: 2.5em;
      text-align: center;
   }
  h3{
    font-family: 'Stalemate', cursive;
    font-weight: bold;
    font-size: 3em;
    color:grey;
    padding-top:10px;
    text-align: center;
    }
  p{
    font-family: 'Josefin Slab', serif;
    font-size: 1.2em;
    padding:5px;
    }
  i{
    padding-top: 10px;
    text-align: center;
    margin-left: 25%;
    margin-top: 15px;
    padding:30px 40px;
    @include border-radius(50%);
    color: white;
    }
 .row{
    margin: 10px 0;
    }
 .block{
     width:100%;
     margin-bottom:20px;
     font-size:1.1em;
     height:auto;
     background-color: transparent;//white;
     color: grey;
     text-align: center; 
     i{
       margin-left: 0; 
       background-color:$services-icon-background;
     }
     p{
       text-align: left; 
     }
     .first {
      padding:20px 30px;
      
     }
     .second{
      padding: 20px 35px !important;
    
     }
     .third{
       padding:20px 25px !important;
     
     }
     }
}
/* END SERVICES */
// start review
.review{
 background-color: $background-color-reviews;
  width: 100% !important;
  height:auto;
  margin: auto;
  overflow:hidden;
  h1{
    font-family: $main-headers-font-family;
    text-align:center;
    padding-top:30px;
  }
  .wrapper{
    width:100%;
    height:auto;
    font-size: 1em !important;
    color:grey; 
    margin:0;
    padding:0;
    .item{
      height:auto;
      width:100%;
      padding:0;
      margin:0 !important;
     // background-color:#1abc9c !important;
           
    }
    .left{
      background-color: transparent !important; 
      
    }
    p{
      padding:20px 30px;
      font-size:1em;
    }
    .customer-name{
      padding:0  10px !important;
      text-align:right;
      margin-right:50px;
      margin-bottom:50px;
    }
  }
}
// end review
/* START PORTFOLIO */
  .portfolio {
    background-color:$background-color-portfolio;
    text-align: center;
    margin-bottom:30px; 
    img{
      width:100%;
    }             
    
    h1{
      font-family: $main-headers-font-family;
    }
    .small{
      width:100%;
      height:auto;
      box-sizing: border-box;
    }
    .big{
      width:100%;
      height:auto;
      margin:0 ;
      box-sizing: border-box;
    }
    .separate{
      width:100%;
    }
    
  }

/* END PORTOFOLIO */

/* START CONTACT */
.contact{
  background-color: $background-color-contact;
  padding:30px;
    h1{
        font-family: $main-headers-font-family;
        font-weight: bold;
        font-size: 2em;
        margin-left: 15px; 
        color:silver;
    }
    ul{
      padding:0;
      margin:0;
      li{
       padding:0 !important;
       margin:0 !important;
     }
    }
    i {
      font-size: 1.7em;
      color:white;
      border:none;
      padding:10px 30px;
      margin:0;
      @include border-radius(0);
    }
   .font-awesome{
       border-width:1px 0;
       list-style:none;
       margin-top:70px;
       padding-top:20px;
       text-align:center !important;
     .fa-facebook{      
      background-color:#3b5998;     
      
     }
    .fa-linkedin{
      background-color: #007bb5;      
      
    }
    .fa-twitter{
      background-color:#00aced;      
      // 
    }
    .fa-github{
      background-color:#000;
    
    }
  }
}
/* END CONTACT */
/*Start footer*/
.footer{
  height:auto;
  background-color: #2c3e50;
  .nav-footer{
    border-bottom:1px grey solid;
    padding:20px 0;
    margin:auto;
    margin-bottom:50px;
    .bottom-nav{
        border-width:1px 0;
        list-style:none;
        margin:0;
        padding:0;
        text-align:left;
      li{
        text-decoration:none;
        display:inline-block;
      }
      a {
        text-decoration: none;
        font-size: 20px;
        color:#666;  
      }
    }
  }
  .last {
    margin-bottom: 50px; 
      div{
        text-align:left; 
        padding:10px 30px;
        &:nthchild(1) {
          padding-right:20px;
        }

    }
  }
  h3{
    padding-top: 10px;
    margin-top: 0;
  }
}

/* End footer */