/*Sections*/
.header{
  min-height: auto;
  background-image: url($header-image);
  background-size: cover;
  background-attachment: fixed;
  height:auto;
  padding:0;
  padding-bottom: 150px;
  margin:0;
  color: $base-font-color;
    .main-title{
       text-align: center;
       font-size: 2em;
       margin:auto;
    }

    .header-cont{
    //    @include border-radius(0 80px);
    //    @include add-border(5px, green, all);
    //    background-color: #252525;
     //   opacity: 0.3;
        font-size: 1.5em;
        width:60% !important;
        padding:20px;
        margin-top:20%;
        margin-left: 20%;
      }
      blockquote{
        font-size: 1.5em;
      }
}
/* end Header*/
/*startabout */
.about {
  height:auto;
  width:100%;
  margin:auto;
  background-color:$background-color-about;
  border-box: box-sizing;
  padding-bottom: 10px;
    p{
     color:silver;
     }
     h3{
      color:#689B4E;
     }
    .content{
      width: 30%;
      color: #252525;
      margin:10px;
      padding: 10px;
    }
}
/* end about */
/* START SERVICES */
.services{
  margin-top: 0;
  padding-top: 0;
  background-color: $background-color-services !important;
  color: $base-font-color;
  .content{
    background-color: transparent !important;
  }
   h1{
        font-family: $main-headers-font-family;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
   }
  h3{
    font-family: 'Stalemate', cursive;
    font-weight: bold;
    font-size: 3em;
    padding-top:10px;
    text-align: center;
    }
  p{
    font-family: 'Josefin Slab', serif;
    font-size: 1.2em;
    padding:20px;
    }
  i{
    padding-top: 10px;
    text-align: center;
    margin-left: 45%;
    }
 .row{
    margin: 40px 0;
    }
 .block{
     width:45%;
     margin:0 10px;
     margin-left: 30px;
     height:auto;
     background-color: $primary-color;
     }
}
/* END SERVICES */
/* START PORTFOLIO */
.portfolio {
  background-color:$background-color-portfolio;
  padding:0;
  margin:0;
  text-align: center;
   h1{
        font-family: $main-headers-font-family;
        font-weight: bold;
        font-size: 3em;
    }
  img {
    width:100%;
    height:300px;
  }
  .row div{
    padding:0;
    margin-bottom:30px;
  }

}

/* END PORTOFOLIO */

/* START CONTACT */
.contact{
  background-color: $background-color-contact;
    h1{
        font-family: $main-headers-font-family;
        font-weight: bold;
        font-size: 3em;
    }
    .font-awesome{
    margin-top: 60px;
    text-align: center;
    .fa-facebook{
      padding:7px  15px;
      background-color:#3b5998;
      color:white;
      border:none;
      @include border-radius(50%);
    }
    .fa-linkedin{
      background-color: #007bb5;
      color:white;
      border:none;
      @include border-radius(50%);
    }
    .fa-twitter{
      background-color:#00aced;
      color:white;
      border:none;
      @include border-radius(50%);
    }
    .fa-github{
      background-color:#000;
      color:white;
      border:none;
      @include border-radius(50%);
    }
  }
}
/* END CONTACT */
/*Start footer*/
.footer{
  height:auto;
  background-color: #2c3e50;
  .row div{
    padding:20px;

  }
  h3{
    padding-top: 10px;
    margin-top: 0;
  }
}
/*End footer*/