/*font colors*/
$base-font-size: 15px;
$base-font-family: 'Open Sans', sans-serif;
$base-font-color: #aaa;
$navbar-font-color: #689B4E;
$navbar-font-size: 1.5em;
$main-headers-font-family:'Yesteryear', cursive;
/*background colors*/
$primary-color:#2c3e50;
$secondary-color:#689B4E;
$light-color:#fff;
$dark-color: #2c3e50;
$navbar-brand-background: #314A24;
$navbar-hover:#689B4E;
/* backgroundcolor*/
 $background-color-about:#2b334f;
 $background-color-services:lightgrey; //#2e5367;
 $background-color-portfolio: #267481;
 $background-color-reviews: #fcb052;
 $background-color-contact: #f06a59;
 /*Header area*/
 $header-image:"../images/eheader6.jpg";