$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

@import url(https://fonts.googleapis.com/css?family=Josefin+Slab|Stalemate);

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
$general-text: white;
$menu-color: #2c3e50;


*{
  padding:0;
  margin:0;
}
/* Space out content a bit */
body {
//background-color: #34495e;
background-image: url("../img/eheader9.jpg")no-repeat !important;
  background-size: cover;
  background-attachment: fixed;
  padding-top: -20px !important;
  padding: 0 !important;
  margin-top: -20px !important;
  color: $general-text;
}
/* Navigation */


.navbar {
    background-color: transparent;
    border: 0;
    margin-top: 0;
    padding-top:0;

         ul a {
          color: #fff !important;
          border:0 !important;
         }
        ul a:hover{
          border-radius: 10px;
          background-color: #674172 !important;
          border:2px solid white;
         }

       ul {
          text-align: right !important;
           font-size: 1.5em !important;
      }
       ul li a{
          text-align: right !important;
      }
}
.navbar-brand {
    font-size: 3em !important;
    background-color: #314A24;
    padding:15px 10px 5px 10px;
//  border-radius: 10px;
    color:#689B4E;
 }
 .sticky{
  background-color: #202029;
 }

/*start Header*/
.header{
  min-height: 700px;
  background-image: url("../img/eheader6.jpg");
  background-size: cover;
  background-attachment: fixed;
  height:auto;
  padding:0;
  margin:0;
    .main-title{
      text-align: center;
      font-size: 2em;
      margin:auto;
    }

       .container {
        width: 100% !important;
      }
       .header-cont{
        font-size: 1.5em;
        width:60% !important;
        margin-top:20%;
        margin-left: 20%;
      }
       .header-cont button{
        width: 40%;
        margin-left:25%;
        padding: 10px 0;
        background-color: #689B4E;
        margin-top: 10px;
         border: none;
       color: white;
       font-weight: bold;
       box-shadow: 0 5px 5px 0 #314A24;
      }
}
/* end Header*/
/*startabout */
.about {
  height:auto;
  width:100%;
  margin:auto;
  background-color:#6D3F5C;
  border-box: box-sizing;
  padding-bottom: 10px;
    .content{
      width: 30%;
       color: #252525;
      margin:10px;
      padding: 10px;
    }
     .btn{
      text-align: center;
      background-color: #689B4E;
      margin-top: 10px;
      border: none;
      color: white;
      font-weight: 5000;
      box-shadow: 0 5px 5px 0 #314A24;
    }
}
/* end about */
/* START SERVICES */
.services{
  margin-top: 0;
  padding-top: 0;
  background-color:  grey !important;
  color:#252525;
  .content{
    background-color: transparent !important;
    padding: 0;
    margin:0;
  }
       h1{
        text-align: center;
        margin:0;
        padding:0;
      }
      h3{
        font-family: 'Stalemate', cursive;
        font-weight: bold;
        font-size: 3em;
        padding-top:10px;
        margin:0;
        text-align: center;
      }
      p{
        font-family: 'Josefin Slab', serif;
        font-size: 1.2em;
        padding:20px;
      }
      i{
        padding:0;
        margin:0;
        padding-top: 10px;
        text-align: center;
        margin-left: 45%;
      }
      .row{
        margin: 40px 0;
      }
      .head{
        width:45%;
        margin:0 10px;
        height:auto;
        background-color: lightgrey;
      }
      .cont{
         width:45%;
         margin:0 10px;
        height:auto;
        background-color: lightgrey;
      }
}
/* END SERVICES */

/* START CONTACT */
.contact{
  background-color: #7f8c8d;
  .btn{
    background-color: #689B4E;
    margin-top: 10px;
    border: none;
    color: white;
    font-weight: bold;
    box-shadow: 0 5px 5px 0 #314A24;
  }
  .font-awesome{
    margin-top: 60px;
    text-align: center;
    .fa-facebook{
      padding:7px  15px;
      background-color:#3b5998;
      color:white;
      border:none;
      border-radius:50%;
    }
    .fa-linkedin{
      background-color: #007bb5;
      color:white;
      border:none;
      border-radius:50%;
    }
    .fa-twitter{
      background-color:#00aced;
      color:white;
      border:none;
      border-radius:50%;
    }
    .fa-github{
      background-color:#000;
      color:white;
      border:none;
      border-radius:50%;
    }
  }
}
/* END CONTACT */

/* Custom page header */

 .container .header {
    padding:0 !important;
    margin:0 !important;
  }
/*  page footer */

.footer{
  height:300px;
  background-color: #2c3e50;
}

/* end footer */

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
