
.navbar {
    background-color:white;
    border: 0;
    margin-top: 0;
    padding-top:0;

     ul a {
       color:brown !important;
       border:0 !important;
     }
     ul a:hover{
//     border-radius: 10px;
       background-color: #689B4E !important;
       border:2px solid white;
     }

     ul {
          text-align: right !important;
           font-size: 1.5em !important;
     }
     ul li a{
       text-align: right !important;
     }
}
.navbar-brand {
    font-size: 3em !important;
    background-color: #314A24;
    padding:15px 10px 5px 10px;
//  border-radius: 10px;
    color:#689B4E;
 }